@model ProjectFinal_VNND.Models.Authentifications

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h1>Merci de vous authentifier</h1>
        <p>
            <br />
            Identifiant: @Html.TextBox("f_login", Model.email, new { placeholder = "Email ..." })<br />
            Mot de passe:  @Html.Password("f_pass", Model.mot_de_passe, new { placeholder = " ******** ", type = "password" })<br />
            <br />
            <input type="submit" value="Valider" />
        </p>
        @Request.QueryString["message"];
    }
    <br />
    <p>
        @ViewBag.message
    </p>
</body>
</html>
