body {
    background-color: lightcyan;
    font-family: 'Source code pro', Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    color: blue;
    /*scrollbar-3dlight-color: aquamarine;*/
}

    body input {
        background-color: white;
        border-radius: 7px;
        resize: both;
        font-size: large;
        color: black;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        font-stretch: expanded;
        box-sizing: content-box;
    }


.table {
    border-spacing: 20px;
    background-color: white;
    border: 1px solid black; /*3px dotted blue ;*/
    border-radius: 30px;
    color: black;
    /*scrollbar-3dlight-color: aquamarine;*/
    text-align: center;
    vertical-align : middle;
}

th {
    position: sticky;
    background-color: white;
    background-image: linear-gradient(top, blue, green);
    border-bottom: 10px groove white;
    font-size: x-large;
    color: blue;
}

tr:hover {
    background-color: lightcyan; /*Changer couleur*/
}

th, td {
    border-bottom: 1px dotted #ddd;
}
    /*Pour colorer une ligne sur deux*/
    /*.table tr:nth-child(odd) {
    background-color: lightgray;
}*/
ul.dest {
    list-style-type: none;
}

.dest2 li {
    list-style-type: none;
    display: block
}

    /*.dest2:hover li {
        display: block;
    }*/


td a { /*lien non visité, visité ou sélectionné*/
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


td a:link, a:visited, a:active { /*lien non visité, visité ou sélectionné*/
    background-color: white;
    color: blue;
}

    td a:hover { /*lien survolé par la souris*/
        background-color: lightcyan;
        color: black;
        font-weight: normal;
        border: 3px solid lightgray;
        border-radius: 20px;
    }

div.details {
    border-spacing: 20px;
    background-color: white;
    border: 1px solid black; /*3px dotted blue ;*/
    border-radius: 30px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;    
    box-shadow: lightgrey 10px 10px; /*pour ombre derriere table*/
    color: black;
    text-align: center;
    vertical-align: middle;


}

