body {
    font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
}

nav > ul {
    margin: 0px;
    padding: 0px;
}

    nav > ul::after {
        content: "";
        display: block;
        clear: both;
    }

    nav > ul > li {
        float: right;
        position: relative;
    }

nav li {
    list-style-type: none;
}

nav {
    
    width: 100%;
    background-color: white;
}

    nav a {
        display: inline-block;
        text-decoration: none;
    }

    nav > ul > li > a {
        padding: 20px 30px;
        color: black;
    }

.submenu {
    display: none;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li a {
    padding: 10px 10px;
    font-size: 13px;
    color: black;
    width: 270px;
}

.submenu li {
    border-bottom: 0.5px solid black;
    width: 115px;
}

.menu:hover {
    background-color: RGBa(220, 220, 220, 0.15);
}

.subhover:hover {
    background-color: RGBa(228, 77, 38, 0.15)
}


#p1 {
    color: black;
    float: left;
    padding: 0px;
    margin-left: 15px;
}


/* Image haut de page */

fieldset {
    border-radius: 7px;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
}

.middle {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container .middle {
    opacity: 1;
}

.text {
    font-size: 170px;
    opacity: 0.7;
    padding: 16px 32px;
}

    .text > a {
        text-decoration: none;
    }

        .text > a:visited {
            /* Les liens "au repos" et déjà visités antérieurement */
            color: white;
            opacity: 0.8;
        }



.column {
    float: left;
    width: 100%;
    padding: 0px;
}

.position {
    text-align: right;
    margin-right: 30px;
}

/* Clear floats after the columns */


* {
    box-sizing: border-box;
}
