body {
    font-family: 'source code pro', calibri, sans-serif;
    font-size: x-large;  /*change here*/
    margin: 10px; /*change here 0 -> 10*/
    padding: 0px;
    color-interpolation: auto;
    background-attachment: fixed;
}

nav > ul {
    margin: 0px;
    padding: 0px;
    background-color: white; /* change here*/
}

    nav > ul::after {
        content: "";
        display: block;
        clear: both;
    }

    nav > ul > li {
        float: right;
        position: sticky;
        border: 7px groove white; /* change here*/
        border-radius: 15px 15px;
        font-size:large;
    }

nav li {
    list-style-type: none;
}

nav {
    width: 100%;
    background-color: transparent;
}

    nav a {
        display: inline-block;
        text-decoration: none;
    }

    nav > ul > li > a {
        padding: 20px 30px;
        color: darkblue; /* change couleur du texte du menu*/
    }

.submenu {
    display: none;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
    background-color: transparent; /* change here*/
}

.submenu li a {
    padding: 10px 10px;
    font-size: large;
    color: blue; /* change here*/
    width: auto;
}
    .submenu li a:active {
        padding: 10px 10px;
        font-size: large;
        color: blue; /* change here*/
        width: auto;
    }

.submenu li a:hover {
    font-weight: normal;
    font-size: large;
    background-color: white;
    border-radius: 10px 10px;
}

.submenu li {
    width: auto;
}

.menu:hover {
    background-color: RGBa(220, 220, 220, 0.15);
}

.subhover:hover {
    background-color: RGBa(228, 77, 38, 0.15)
}


#p1 {
    color: black;
    float: left;
    padding: 0px;
    margin-left: 15px;
}


/* Image haut de page */

fieldset {
    border-radius: 7px;
}

.container {
    position:  relative;
    width: 100%;
}

.image {
    display: normal;
    width: 100%;
    height: 300px;
    backface-visibility: visible;
}

.middle {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container .middle {
    opacity: 0.8;
}

.text {
    font-size: 170px;
    opacity: 0.8;
    padding: 16px 32px;
    text-shadow: 2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, -2px 0 0 grey, 2px 2px 0 grey, 2px -2px 0 grey, -2px 2px 0 grey, -2px -2px 0 grey;
}

    .text > a {
        text-decoration: solid ;
    }

        .text > a:visited {
            /* Les liens "au repos" et déjà visités antérieurement */
            color: white;
            opacity: 0.7;
        }


.column {
    float: left;
    width: 100%;
    padding: 0px;
}

.position {
    text-align: right;
    margin-right: 30px;
}

/* Clear floats after the columns */


/** {
    box-sizing: border-box;
}*/





/*@media screen and (max-width:3072px){
    body{
        background-color:red;
    }
    div#p1 {
        width: 80%;
        margin: auto;
    }
}*/
