body {
    background-color: white;
    font-family: 'Source code pro', Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    color: forestgreen;
}

    body input {
        background-color: transparent;
        resize: both;
        font-size: large;
        color: black;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        font-stretch: expanded;
        box-sizing: content-box;
    }


.table {
    border-spacing: 20px;
    background-color: white;
    border: 1px solid black; /*3px dotted blue ;*/
    border-radius: 30px;
    box-shadow: lightgrey 10px 10px; /*pour ombre derriere table*/
    color: black;
    text-align: center;
    vertical-align: middle;
}

th {
    position: sticky;
    background-color: white;
    background-image: linear-gradient(top, blue, green);
    border-bottom: 10px groove white;
    font-size: x-large;
    color:green;
}

tr:hover {
    background-color: white; /*Changer couleur*/
}

th, td {
    border-bottom: 1px dotted #ddd;
}
/*Pour colorer une ligne sur deux*/
/*.table tr:nth-child(odd) {
    background-color: lightgray;
}*/
ul.dest {
    list-style-type: none;
    text-align:center;
}

.dest2 li {
    list-style-type: none;
    display: block;
    text-align:center;
}

/*.dest2:hover li {
        display: block;
    }*/


td a { /*lien non visité, visité ou sélectionné*/
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


    td a:link, a:visited, a:active { /*lien non visité, visité ou sélectionné*/
        background-color: white;
        color: forestgreen;
    }

    td a:hover { /*lien survolé par la souris*/
        background-color: white;
        color: green;
        font-weight: bold;
    }

div.details {
    border-spacing: 20px;
    background-color: white;
    border: 1px solid black; /*3px dotted blue ;*/
    border-radius: 30px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    box-shadow: lightgrey 10px 10px; /*pour ombre derriere table*/
    color: black;
    text-align: center;
    vertical-align: middle;
}
