@model ProjectFinal_VNND.Models.Authentifications


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supprimer Mon Compte</title>
</head>
<body>
    <h3>Etes vous sures de vouloir supprimer votre Compte?</h3>
    <div>
        <h4>Authentifications</h4>
        <hr />
        <dl >

            <dt>
                Adresse E-Mail
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" />

                <br />
                <span style="color : red">Attention ! Une fois votre compte supprimé vous ne pourrez pas recréer un compte avec le même e-mail sans l'intervention d'un Administrateur BoVoyage</span>
                <br />
                <span style="color : red">Contactez votre Agence BoVoyage pour plus d'information : administrateur@BoVoyage.fr</span>


            </div>
            <div>
                @Html.ActionLink("Retour à Mon Compte", "Index")
            </div>
        }
    </div>
</body>
</html>
