@model ProjectFinal_VNND.Models.Personnes


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientPartic</title>
</head>
<body>
    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p> Veuillez confirmer si vous êtes participant ou non au voyage.</p>

            <div>
                @Html.RadioButton("f_reponse", "Oui", new { @checked = "checked" }) Oui<br />
                @Html.RadioButton("f_reponse", "Non") Non<br />

                <input type="submit" value="Confirmer" class="btn btn-default" />
            </div>
        }


    </div>
</body>
<footer>

    @using (Html.BeginForm("DossNonConf", "Personnes"))
    {
        <div>
            <input type="submit" value="Annuler la réservation en cours" class="btn btn-default" />
        </div>
    }

</footer>
</html>
